controller/src/main/resources/accessoriesDTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="AccessoriesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Appellation" type="xs:string"/>
                <xs:element name="Brand" type="xs:string"/>
                <xs:element name="Price" type="xs:float"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>