controller/src/main/resources/employeeDTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="EmployeeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Id" type="xs:int"/>
                <xs:element name="Name" type="xs:string"/>
                <xs:element name="Gender" type="xs:string"/>
                <xs:element name="Salary" type="xs:float"/>
                <xs:element name="Post" type="xs:string"/>
                <xs:element name="ShopName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>