controller/src/main/resources/glassesDTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="GlassesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Brand" type="xs:string"/>
                <xs:element name="Model" type="xs:string"/>
                <xs:element name="Price" type="xs:float"/>
                <xs:element name="AvailableAt" type="xs:string"/>
                <xs:element name="Gender" type="xs:string"/>
                <xs:element name="Sunglasses" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>